In [ ]:
!nvidia-smi

In [1]:
################################################################################
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "7"
import importlib
import numpy as np
import pandas as pd
import json
import sys
from IPython.display import display
from typing import Iterable, List, Sequence

In [2]:
################################################################################
def flatten(
        iterable: Iterable
        ) -> Iterable:
    """ Return a flattened iterable from a nested iterable.
        [[3, [4, 5]], 6, [[[7]]]] -> [3, 4, 5, 6, 7]
    """
    for item in iterable:
        if  isinstance(item, Iterable) and not isinstance(item, (str, bytes)):
            yield from flatten(item)
        else:
            yield item


def parse_file(
        filename         : str,
        initial_event_id : int      = 0,
        ignored_columns  : Sequence = (),
        ) -> Iterable[Iterable]:
    """ Parses the lines in the file from 'filename' to a format
        appropriate for passing into a pandas DataFrame constructor.
    """
    event_id = initial_event_id
    with open(filename) as file:
        lines = filter(None, (line.strip() for line in file))
        for line in lines:
            if line.startswith("#"):
                event_id += 1
            else:
                j_list = json.loads("[{0}]".format(line))
                for column in ignored_columns:
                    del j_list[column]
                j_list.append(event_id)
                yield flatten(j_list)

In [3]:
################################################################################
clusters_columns = [
    "hit_nr", "barcode", "volume_id", "layer_id",
    "lx",     "ly",      "elx",       "ely",    
    "gx",     "gy",      "gz",        "phi",    
    "theta",  "ephi",    "etheta",    "event_id",
]
particles_columns = [
    "barcode",  "vertex_x", "vertex_y",
    "vertex_z", "momentum", "theta",
    "phi",      "charge",   "event_id",
]

# Extraction from a single file.

In [17]:
################################################################################
number = 1
base_directory = "/inputdata/ACTS/prod_mu200_pt500_2017_07_25"
clusters_filename  = base_directory + "/clusters_{0}.csv".format(number)
particles_filename = base_directory + "/particles_{0}.csv".format(number)

In [18]:
################################################################################
clusters_lines = parse_file(clusters_filename, ignored_columns=[7])
clusters_frame = pd.DataFrame(clusters_lines, columns=clusters_columns)
clusters_frame.head(3)

,hit_nr,barcode,volume_id,layer_id,lx,ly,elx,ely,gx,gy,gz,phi,theta,ephi,etheta,event_id
0,1,297238949795987456,7,2,3.025,19.43440,0.15,0.15,-157.488,-25.0229,-1498.0,-2.98402,3.03554,0.1,0.01,1
1,2,67563271539916800,7,2,3.575,10.03660,0.15,0.15,-141.123,-51.0700,-1498.0,-2.81819,1.57080,0.1,0.01,1
2,3,562962116768694272,7,2,6.925,8.07187,0.15,0.15,-132.658,-66.1443,-1502.0,-2.67906,3.04322,0.1,0.01,1

In [19]:
################################################################################
particles_lines = parse_file(particles_filename)
particles_frame = pd.DataFrame(particles_lines, columns=particles_columns)
particles_frame.head(3)

,barcode,vertex_x,vertex_y,vertex_z,momentum,theta,phi,charge,event_id
0,206158430208,-0.003092,-0.004118,-56.6067,3.99061,0.158342,1.93647,-1,1
1,274877906944,-0.003092,-0.004118,-56.6067,7.70008,2.996730,-2.08866,1,1
2,343597383680,-0.003092,-0.004118,-56.6067,1.52538,2.671010,2.78452,-1,1

In [20]:
################################################################################
left_frame     = clusters_frame
right_frame    = particles_frame[["event_id", "barcode", "momentum", "charge"]]
combined_frame = left_frame.merge(right_frame, on=["event_id", "barcode"])
combined_frame.head(3)

,hit_nr,barcode,volume_id,layer_id,lx,ly,elx,ely,gx,gy,gz,phi,theta,ephi,etheta,event_id,momentum,charge
0,1,297238949795987456,7,2,3.025,19.4344,0.15,0.15,-157.488,-25.0229,-1498.0,-2.98402,3.03554,0.1,0.01,1,11.5048,1
1,62,297238949795987456,7,4,3.375,-24.5174,0.15,0.15,-113.909,-19.2973,-1098.0,-3.00299,1.57080,0.1,0.01,1,11.5048,1
2,65,297238949795987456,7,4,-7.325,-24.2719,0.15,0.15,-114.331,-19.3656,-1102.0,-2.97380,3.03675,0.1,0.01,1,11.5048,1

In [25]:
################################################################################
gx    = combined_frame["gx"]
gy    = combined_frame["gy"]
gz    = combined_frame["gz"]
phi   = np.arctan2(gy, gx)
r     = np.sqrt(gx**2 + gy**2)
frame = combined_frame.assign(phi=phi, r=r, z=gz)
frame.head(3)

,hit_nr,barcode,volume_id,layer_id,lx,ly,elx,ely,gx,gy,gz,phi,theta,ephi,etheta,event_id,momentum,charge,r,z
0,1,297238949795987456,7,2,3.025,19.4344,0.15,0.15,-157.488,-25.0229,-1498.0,-2.984022,3.03554,0.1,0.01,1,11.5048,1,159.463525,-1498.0
1,62,297238949795987456,7,4,3.375,-24.5174,0.15,0.15,-113.909,-19.2973,-1098.0,-2.973776,1.57080,0.1,0.01,1,11.5048,1,115.532013,-1098.0
2,65,297238949795987456,7,4,-7.325,-24.2719,0.15,0.15,-114.331,-19.3656,-1102.0,-2.973803,3.03675,0.1,0.01,1,11.5048,1,115.959493,-1102.0

In [26]:
################################################################################
# Eliminate duplicate hits that were caused by imperfections in the detector.
frame = frame.sort_values("r")
frame = frame.drop_duplicates(["event_id", "barcode", "layer_id"])
frame.head(3)

,hit_nr,barcode,volume_id,layer_id,lx,ly,elx,ely,gx,gy,gz,phi,theta,ephi,etheta,event_id,momentum,charge,r,z
1312251,4764,882706832634675200,8,2,4.43409,-23.8884,0.15,0.15,-20.9463,23.4453,151.11200,2.299959,0.098447,0.1,0.01,42,1.94662,-1,31.439300,151.11200
775929,5888,220687514296385536,8,2,4.41968,22.1344,0.15,0.15,10.3661,-29.6812,197.13400,-1.234792,0.019321,0.1,0.01,25,8.99135,-1,31.439301,197.13400
614775,4854,36030652444835840,8,2,4.45167,-25.1719,0.15,0.15,20.9594,-23.4336,9.82812,-0.841075,0.063407,0.1,0.01,20,2.51346,-1,31.439308,9.82812

In [ ]:
# Checking which volumes to use.
for volume_id in np.sort(frame["volume_id"].unique()):
    volume = frame[frame["volume_id"] == volume_id]
    for layer_id in np.sort(frame["layer_id"].unique()):
        rs = volume[volume["layer_id"] == layer_id]["r"]
        print("Volume ID: {0}, Layer ID: {1}, Min: {2}, Max: {3}".format(volume_id, layer_id, rs.min(), rs.max()))
    print()

In [ ]:
################################################################################
# Specify the volume to use. Each volume is a different detector configuration.
frame = frame[frame["volume_id"] == 8]

In [ ]:
################################################################################
# Set radiuses to be the same for each layer.
for layer_id in frame["layer_id"].unique():
    ind = frame["layer_id"] == layer_id
    rs  = frame[ind]["r"]
    med = rs.median()
    frame.loc[ind, "r"] = med

In [ ]:
################################################################################
# Put limits on the number of tracks per event. 
max_tracks = 50
min_tracks = 2
frames = [f for (_, f) in frame.groupby("event_id", sort=False)]
for i, f in enumerate(frames):
    barcodes = f["barcode"].unique()
    if len(barcodes) < min_tracks:
        frames[i] = pd.DataFrame()
    if len(barcodes) > max_tracks:
        length = np.random.randint(min_tracks, max_tracks + 1)
        barcodes = np.random.choice(barcodes, length, replace=False)
        f = f[f["barcode"].isin(barcodes)]
        frames[i] = f
frame = pd.concat(frames)

In [ ]:
################################################################################
# Clean up the frame a bit.
frame = frame[["event_id", "barcode", "phi", "r", "z", "momentum", "charge"]]
frame = frame.sort_values(["event_id", "barcode", "r"])
print("Hits:", len(frame))
print("Events:", len(frame["event_id"].unique()))
frame.head(15)

# Extraction from multiple files.

In [4]:
################################################################################
def extract(
        clusters_filename  : str, 
        particles_filename : str,
        initial_event_id   : int = 0,
        ) -> pd.DataFrame:
    """ Everything in one function.
        Depending on the size of the file, this function could take a long
        time. Most of the time is spent parsing the csv files within the
        first 4 lines.
    """
    clusters_lines = parse_file(
        clusters_filename,
        ignored_columns=[7],
        initial_event_id=initial_event_id)
    clusters_frame = pd.DataFrame(clusters_lines, columns=clusters_columns)
    
    particles_lines = parse_file(
        particles_filename, 
        initial_event_id=initial_event_id)
    particles_frame = pd.DataFrame(particles_lines, columns=particles_columns)
    
    left  = clusters_frame
    right = particles_frame[["event_id", "barcode", "momentum", "charge"]]
    combined_frame = left.merge(right, on=["event_id", "barcode"])
    
    gx    = combined_frame["gx"]
    gy    = combined_frame["gy"]
    gz    = combined_frame["gz"]
    phi   = np.arctan2(gy, gx)
    r     = np.sqrt(gx**2 + gy**2)
    frame = combined_frame.assign(phi=phi, r=r, z=gz)
    
    frame = frame.sort_values("r")
    frame = frame.drop_duplicates(["event_id", "barcode", "layer_id"])
    
    frame = frame[frame["volume_id"] == 8]
    
    for layer_id in frame["layer_id"].unique():
        ind = frame["layer_id"] == layer_id
        rs  = frame[ind]["r"]
        med = rs.median()
        frame.loc[ind, "r"] = med
    
    cols = ["event_id", "barcode", "phi", "r", "z", "momentum", "charge"]
    frame = frame[cols]
    frame = frame.sort_values(["event_id", "barcode", "r"])
    
    return frame

In [6]:
%%time
################################################################################
frames = []
initial_event_id = 0
base_directory = "/inputdata/ACTS/prod_mu25_pt1000_2017_07_27"
for i in range(1, 1 + 100):
    print("Extracting from file {0}. Initial Event ID is {1}".format(i, initial_event_id))
    try:
        clusters_filename  = base_directory + "/clusters_{0}.csv".format(i)
        particles_filename = base_directory + "/particles_{0}.csv".format(i)
        frame = extract(
            clusters_filename=clusters_filename, 
            particles_filename=particles_filename, 
            initial_event_id=initial_event_id,)
        initial_event_id = frame["event_id"].max() + 1
        frames.append(frame)
    except FileNotFoundError as error:
        print(error)
frame = pd.concat(frames)
print("All Done!")

Extracting from file 1. Initial Event ID is 0
Extracting from file 2. Initial Event ID is 1001
Extracting from file 3. Initial Event ID is 2002
Extracting from file 4. Initial Event ID is 3003
Extracting from file 5. Initial Event ID is 4004
Extracting from file 6. Initial Event ID is 5005
Extracting from file 7. Initial Event ID is 6006
Extracting from file 8. Initial Event ID is 7007
Extracting from file 9. Initial Event ID is 8008
Extracting from file 10. Initial Event ID is 9009
Extracting from file 11. Initial Event ID is 10010
Extracting from file 12. Initial Event ID is 11011
Extracting from file 13. Initial Event ID is 12012
Extracting from file 14. Initial Event ID is 13013
Extracting from file 15. Initial Event ID is 14014
Extracting from file 16. Initial Event ID is 15015
Extracting from file 17. Initial Event ID is 16016
Extracting from file 18. Initial Event ID is 17017
Extracting from file 19. Initial Event ID is 18018
Extracting from file 20. Initial Event ID is 19019
Extracting from file 21. Initial Event ID is 20020
Extracting from file 22. Initial Event ID is 21021
Extracting from file 23. Initial Event ID is 22022
Extracting from file 24. Initial Event ID is 23023
Extracting from file 25. Initial Event ID is 24024
Extracting from file 26. Initial Event ID is 25025
Extracting from file 27. Initial Event ID is 26026
Extracting from file 28. Initial Event ID is 27027
Extracting from file 29. Initial Event ID is 28028
Extracting from file 30. Initial Event ID is 29029
Extracting from file 31. Initial Event ID is 30030
Extracting from file 32. Initial Event ID is 31031
Extracting from file 33. Initial Event ID is 32032
Extracting from file 34. Initial Event ID is 33033
Extracting from file 35. Initial Event ID is 34034
Extracting from file 36. Initial Event ID is 35035
Extracting from file 37. Initial Event ID is 36036
Extracting from file 38. Initial Event ID is 37037
Extracting from file 39. Initial Event ID is 38038
Extracting from file 40. Initial Event ID is 39039
Extracting from file 41. Initial Event ID is 40040
Extracting from file 42. Initial Event ID is 41041
Extracting from file 43. Initial Event ID is 42042
Extracting from file 44. Initial Event ID is 43043
Extracting from file 45. Initial Event ID is 44044
Extracting from file 46. Initial Event ID is 45045
Extracting from file 47. Initial Event ID is 46046
Extracting from file 48. Initial Event ID is 47047
Extracting from file 49. Initial Event ID is 48048
Extracting from file 50. Initial Event ID is 49049
Extracting from file 51. Initial Event ID is 50050
Extracting from file 52. Initial Event ID is 51051
Extracting from file 53. Initial Event ID is 52052
Extracting from file 54. Initial Event ID is 53053
Extracting from file 55. Initial Event ID is 54054
Extracting from file 56. Initial Event ID is 55055
Extracting from file 57. Initial Event ID is 56056
Extracting from file 58. Initial Event ID is 57057
Extracting from file 59. Initial Event ID is 58058
Extracting from file 60. Initial Event ID is 59059
Extracting from file 61. Initial Event ID is 60060
Extracting from file 62. Initial Event ID is 61061
Extracting from file 63. Initial Event ID is 62062
Extracting from file 64. Initial Event ID is 63063
Extracting from file 65. Initial Event ID is 64064
Extracting from file 66. Initial Event ID is 65065
Extracting from file 67. Initial Event ID is 66066
Extracting from file 68. Initial Event ID is 67067
Extracting from file 69. Initial Event ID is 68068
Extracting from file 70. Initial Event ID is 69069
Extracting from file 71. Initial Event ID is 70070
Extracting from file 72. Initial Event ID is 71071
Extracting from file 73. Initial Event ID is 72072
Extracting from file 74. Initial Event ID is 73073
Extracting from file 75. Initial Event ID is 74074
Extracting from file 76. Initial Event ID is 75075
Extracting from file 77. Initial Event ID is 76076
Extracting from file 78. Initial Event ID is 77077
Extracting from file 79. Initial Event ID is 78078
Extracting from file 80. Initial Event ID is 79079
Extracting from file 81. Initial Event ID is 80080
Extracting from file 82. Initial Event ID is 81081
Extracting from file 83. Initial Event ID is 82082
Extracting from file 84. Initial Event ID is 83083
Extracting from file 85. Initial Event ID is 84084
Extracting from file 86. Initial Event ID is 85085
Extracting from file 87. Initial Event ID is 86086
Extracting from file 88. Initial Event ID is 87087
Extracting from file 89. Initial Event ID is 88088
Extracting from file 90. Initial Event ID is 89089
Extracting from file 91. Initial Event ID is 90090
Extracting from file 92. Initial Event ID is 91091
Extracting from file 93. Initial Event ID is 92092
Extracting from file 94. Initial Event ID is 93093
Extracting from file 95. Initial Event ID is 94094
Extracting from file 96. Initial Event ID is 95095
Extracting from file 97. Initial Event ID is 96096
Extracting from file 98. Initial Event ID is 97097
Extracting from file 99. Initial Event ID is 98098
Extracting from file 100. Initial Event ID is 99099
All Done!
CPU times: user 1h 38min 35s, sys: 44.3 s, total: 1h 39min 19s
Wall time: 1h 39min 21s

In [7]:
print("Number of Hits: {}".format(len(frame)))
print("Number of Events: {}".format(len(frame["event_id"].unique())))
tracks  = [value for (_, value) in frame.groupby(["event_id"])]
lengths = [len(value["barcode"].unique()) for value in tracks]
print("Min Number of Tracks: {}".format(min(lengths)))
print("Max Number of Tracks: {}".format(max(lengths)))

Number of Hits: 13929190
Number of Events: 99615
Min Number of Tracks: 1
Max Number of Tracks: 246

In [8]:
filepath = "data/sets/ACTS-MU10-EV99615.gz"
frame.to_csv(filepath, compression="gzip")
print("{0} bytes".format(os.path.getsize(filepath)))

324461472 bytes

In [21]:
from tracker import extractor
import random

In [30]:
frame = pd.read_csv(filepath) 820 rows, 246
events = [event for (_, event) in frame.groupby("event_id")]
e = []
max_tracks = 50
for event in events:
    if len(event["barcode"].unique()) <= max_tracks:
        e.append(event)
    else:
        tracks = [track for (_, track) in event.groupby("barcode")]
        rng    = np.random.randint(1, max_tracks + 1)
        sample = random.sample(tracks, rng)
        e.append(pd.concat(sample))
events = pd.concat(e)

In [39]:
events = events.rename(columns = {'barcode':'cluster_id'})
events

,Unnamed: 0,event_id,cluster_id,phi,r,z,momentum,charge
0,57,1,9007611571601408,2.950621,31.957990,-47.81660,2.25170,-1
1,58,1,9007611571601408,2.956995,71.837640,-78.49790,2.25170,-1
2,60,1,9007611571601408,2.964698,115.817280,-113.72800,2.25170,-1
3,61,1,9007611571601408,2.974130,171.806223,-157.85200,2.25170,-1
4,12,1,9008298766368768,0.367411,31.957990,-121.95900,5.85017,-1
5,14,1,9008298766368768,0.374021,71.837640,-247.68100,5.85017,-1
6,15,1,9008298766368768,0.381647,115.817280,-391.18300,5.85017,-1
7,118,1,9009879314333696,1.383301,31.957990,113.52200,4.45530,-1
8,119,1,9009879314333696,1.394936,71.837640,284.62200,4.45530,-1
9,120,1,9009879314333696,1.407345,115.817280,464.87200,4.45530,-1
10,94,1,9010085472763904,0.285327,31.957990,42.42500,4.50735,1
11,95,1,9010085472763904,0.278982,71.837640,126.67100,4.50735,1
12,96,1,9010085472763904,0.272315,115.817280,217.93300,4.50735,1
13,97,1,9010085472763904,0.263837,171.806223,331.99000,4.50735,1
14,105,1,9010154192240640,-0.189516,31.957990,82.86270,3.63076,-1
15,106,1,9010154192240640,-0.178267,71.837640,209.65000,3.63076,-1
16,109,1,9010154192240640,-0.165834,115.817280,356.36900,3.63076,-1
17,23,1,9012421934972928,-0.496255,31.957990,-31.85460,1.48675,1
18,24,1,9012421934972928,-0.504269,71.837640,-43.82660,1.48675,1
19,25,1,9012421934972928,-0.513427,115.817280,-56.69730,1.48675,1
20,26,1,9012421934972928,-0.525158,171.806223,-73.27960,1.48675,1
21,35,1,9012490654449664,-0.552337,31.957990,-60.23370,2.41000,1
22,36,1,9012490654449664,-0.559781,71.837640,-108.00900,2.41000,1
23,37,1,9012490654449664,-0.568174,115.817280,-159.92200,2.41000,1
24,38,1,9012490654449664,-0.578629,171.806223,-224.20700,2.41000,1
25,82,1,9012628093403136,-1.581550,31.957990,30.96120,2.92286,1
26,84,1,9012628093403136,-1.589796,71.837640,99.15000,2.92286,1
27,85,1,9012628093403136,-1.598428,115.817280,173.10500,2.92286,1
28,86,1,9012628093403136,-1.609701,171.806223,268.23900,2.92286,1
29,70,1,9012696812879872,-2.455632,31.957990,48.47190,3.52941,1
...,...,...,...,...,...,...,...,...
13929022,529274,100099,4507654076497920,0.435249,71.842604,246.94600,2.11128,-1
13929023,529275,100099,4507654076497920,0.446034,115.818748,310.07200,2.11128,-1
13929024,529276,100099,4507654076497920,0.460444,171.810327,394.02800,2.11128,-1
13929141,529016,100099,36030927322742784,-1.989811,31.959962,63.42920,1.12280,-1
13929142,529018,100099,36030927322742784,-1.979836,71.842604,58.65310,1.12280,-1
13929143,529019,100099,36030927322742784,-1.967735,115.818748,53.32550,1.12280,-1
13929144,529020,100099,36030927322742784,-1.952713,171.810327,46.61560,1.12280,-1
13929145,529043,100099,36031064761696256,-0.082079,31.959962,46.54310,2.44464,1
13929146,529044,100099,36031064761696256,-0.088501,71.842604,20.12190,2.44464,1
13929147,529045,100099,36031064761696256,-0.095113,115.818748,-9.60313,2.44464,1
13929148,529046,100099,36031064761696256,-0.103160,171.810327,-45.70640,2.44464,1
13929055,528920,100099,13516433879203840,0.515162,31.959962,-68.39070,1.07498,1
13929056,528921,100099,13516433879203840,0.504815,71.842604,-73.82440,1.07498,1
13929057,528922,100099,13516433879203840,0.492985,115.818748,-79.86390,1.07498,1
13929058,528924,100099,13516433879203840,0.477187,171.810327,-87.69840,1.07498,1
13929150,529128,100099,36031820675940352,2.597238,31.959962,36.44250,5.12696,-1
13929151,529129,100099,36031820675940352,2.600363,71.842604,-3.74500,5.12696,-1
13929152,529130,100099,36031820675940352,2.603991,115.818748,-45.88170,5.12696,-1
13929153,529131,100099,36031820675940352,2.608487,171.810327,-100.25600,5.12696,-1
13929066,528970,100099,22519922282201088,-2.578306,31.959962,39.80460,1.49000,-1
13929067,528971,100099,22519922282201088,-2.570228,71.842604,46.25460,1.49000,-1
13929068,528972,100099,22519922282201088,-2.560967,115.818748,53.48290,1.49000,-1
13929069,528973,100099,22519922282201088,-2.549307,171.810327,62.81940,1.49000,-1
13929017,529283,100099,4507585357021184,0.851118,31.959962,179.09200,3.83244,1
13929018,529285,100099,4507585357021184,0.845955,71.842604,231.52800,3.83244,1
13929019,529286,100099,4507585357021184,0.840573,115.818748,285.67300,3.83244,1
13929020,529288,100099,4507585357021184,0.833239,171.810327,359.24700,3.83244,1
13929036,528822,100099,9010910106484736,-2.012067,31.959962,-72.06560,4.19584,1
13929037,528824,100099,9010910106484736,-2.022696,71.842604,-210.61400,4.19584,1
13929038,528825,100099,9010910106484736,-2.034465,115.818748,-367.00000,4.19584,1

In [46]:
prepared = extractor.prepare_frame(events, n_rows=200, n_tracks=50, n_noise=0)

In [47]:
prepared = prepared.sort_values(["event_id", "cluster_id", "r"])
prepared.head(10)

,cluster_id,event_id,momentum,noise,padding,phi,r,z
29,0.0,0.0,3.52941,0.0,0.0,-2.455632,31.957990,48.4719
30,0.0,0.0,3.52941,0.0,0.0,-2.463615,71.837640,139.4500
31,0.0,0.0,3.52941,0.0,0.0,-2.472854,115.817280,239.3350
32,0.0,0.0,3.52941,0.0,0.0,-2.484726,171.806223,367.4220
25,1.0,0.0,2.92286,0.0,0.0,-1.581550,31.957990,30.9612
26,1.0,0.0,2.92286,0.0,0.0,-1.589796,71.837640,99.1500
27,1.0,0.0,2.92286,0.0,0.0,-1.598428,115.817280,173.1050
28,1.0,0.0,2.92286,0.0,0.0,-1.609701,171.806223,268.2390
21,2.0,0.0,2.41000,0.0,0.0,-0.552337,31.957990,-60.2337
22,2.0,0.0,2.41000,0.0,0.0,-0.559781,71.837640,-108.0090

In [48]:
print(len(prepared["event_id"].unique()))

99615

In [49]:
prepared.to_csv("data/sets/ACTS-T50-EV99615.gz", compression="gzip")